[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
Flask = "==1.0.3"
Flask-SocketIO = "==4.0.0"
flask-cors = "*"
eventlet = "==0.31.0"
gunicorn = "==19.9.0"
simplejson = "==3.16.0"
colorlog = "==4.0.2"
rdflib = "==4.2.2"
bs4 = "*"
flask-mail = "*"
'pkan.blazegraph' = {git = "https://github.com/BB-Open/pkan.blazegraph.git", editable = true}

[requires]
python_version = "3.7"

